.product-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-image2 {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.product-info {
    max-width: 600px;
}

.product-info h1 {
    margin-bottom: 1rem;
}

.product-info p {
    margin-bottom: 0.5rem;
}

.alert {
    margin-top: 20px;
}
